a {
  text-decoration: none; }

.header {
  background-color: #222222;
  height: 75px;
  display: flex;
  justify-content: space-between; }

.container {
  width: 1140px;
  margin: 0 auto; }

.h1MainPage {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222; }

.insideBrandOne {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222; }

.menuFlex {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between; }

.menuBoxL {
  display: flex;
  align-items: center; }

/* Menu__Top__Styles */
.h3_Foot_F {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 28px; }

.h3_Foot_F_RE {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 21px; }

.p_Foot_F {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 16px;
  width: 360px;
  opacity: 0.8; }

.menuPos {
  margin-right: 33px;
  position: relative; }

.menu {
  width: 232px;
  height: auto;
  float: right;
  top: 36px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #f16d7f;
  padding-bottom: 37px;
  opacity: 0; }

.menu .close {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 15px;
  height: 15px;
  opacity: 0.3; }

.menuPos:hover .menu {
  opacity: 1; }

.close:hover {
  opacity: 1; }

.close:before,
.close:after {
  position: absolute;
  left: 18px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #6f6e6e; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

.menu__head {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin: 37px 0 15px 33px;
  text-transform: uppercase; }

.menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.item_link {
  display: block;
  text-decoration: none; }

.item_product_name {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-left: 18px; }

.item_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-top: 12px;
  margin-left: 18px; }

.item_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-top: 18px;
  margin-left: 18px; }

.menu__list:last-of-type {
  right: 0; }

.menu__head__section {
  margin: 9px 0 12px 33px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f; }

.menu__link {
  margin: 0 0 11px 54px;
  display: block; }

.menu__link:hover {
  color: #f16d7f; }

.menuBoxR {
  display: flex;
  align-items: center; }

.logoPos {
  margin-right: 41px;
  margin-left: 10px; }

.logInPos {
  margin-right: 33px; }

.recPos {
  margin-right: 10px; }

.imgFlex {
  display: flex;
  align-items: center; }

.marginMainCont {
  margin-top: 65px; }

.item_flex {
  display: flex;
  justify-content: space-between; }

.item1 {
  height: 260px;
  width: 360px; }

.itemLong {
  margin-top: 30px;
  height: 180px; }

.content_Item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  justify-content: space-between; }

.foot_Last {
  background: #222224;
  height: 78px;
  display: flex;
  align-items: center; }

.First_F_F {
  display: flex;
  align-items: center;
  flex-direction: column; }

.foot_F_Flex {
  display: flex; }

.foot_First {
  height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center; }

.AllRR {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb; }

.foot_Flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.fs_flex_just {
  display: flex;
  justify-content: space-between; }

.max_ph {
  display: block;
  width: 96px;
  height: 96px; }

.fl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 97px; }

.footer {
  margin-top: 95px; }

.h3_Under_Photo {
  width: 359px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  text-align: center; }

.span_on_h3 {
  font-weight: 400;
  font-size: 18px; }

.Subscribe_Flex {
  display: flex;
  align-items: center; }

.button_subs_foot {
  height: 53px;
  width: 100px;
  color: #ffffff;
  background-color: #f16d7f;
  border-radius: 0 25px 25px 0;
  border: 1px solid #f16d7f;
  float: right; }

.h3_second {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224; }

.foot_Second {
  background-image: url(../1st/imgs/backFootPhoto.jpg);
  height: 448px;
  background-repeat: no-repeat; }

.img_Foot_Nav {
  margin-right: 5px; }

.input_Foot {
  height: 53px;
  width: 256px;
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 25px 0 0 25px;
  padding-left: 10px; }

.input_txt_st {
  color: #222224; }

.span_Subs_st {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px; }

.button_Span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  pointer-events: auto; }

.buttonProduct {
  border: 1px solid #f16d7f;
  width: 211px;
  height: 47px;
  border-radius: 1px; }

.button:hover .buttonProduct {
  background-color: #f16d7f; }

.button:hover .button_Span {
  color: #ffffff; }

.button_Pos {
  display: flex;
  justify-content: center; }

.button {
  pointer-events: none; }

.item5 {
  height: 581px;
  width: 360px;
  border-radius: 1px;
  margin-bottom: 30px;
  position: relative; }

.img_hover_style {
  width: 100%; }

.item5:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.item5:hover .img_hover_style {
  filter: brightness(35%); }

.add_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 11px; }

.add {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid #ffffff;
  pointer-events: auto; }

.add:hover {
  box-shadow: 0 0 10px #ffffff; }

.add_box {
  display: none;
  position: absolute;
  text-decoration: none;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none; }

.item5:hover .add_box {
  display: flex; }

.h2Style {
  font-size: 30px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  margin-top: 96px; }

.sizeBrand {
  height: 93px;
  width: 373px;
  right: 0; }

.backGr {
  background-color: #f1e4e6;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.pStyle {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: flex;
  justify-content: center;
  margin-top: 6px; }

.arrivals_flex {
  display: flex;
  height: 148px;
  align-items: center;
  justify-content: space-between; }

.arrivals_h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase; }

.arrivals_right {
  display: flex;
  flex-direction: row;
  list-style: none; }

.li_arr_style {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e; }

.li_arr_style:hover {
  color: #f16d7f; }

.section_style_arriv {
  background: #f8f3f4; }

.img_arrivals_pos {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.arrow_left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 12px;
  left: 18px;
  transform: rotate(135deg); }

.arrow_left:hover {
  border: solid #f16d7f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px; }

.block_arrow {
  background-color: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  position: relative; }

.arrow_right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 12px;
  right: 18px;
  transform: rotate(-45deg); }

.arrow_right:hover {
  border: solid #f16d7f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px; }

.text_arriv_flex {
  display: flex;
  align-items: center;
  flex-direction: column; }

.arriv_h3_under_photo {
  margin-top: 42px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f; }

.arriv_h2_under_photo {
  margin-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #6f6e6e; }

.horiz_slash {
  margin-top: 12px;
  border: solid #f16d7f;
  height: 3px;
  width: 63px;
  background-color: #f16d7f; }

.arriv_par {
  margin-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-align: center;
  margin-left: 292px;
  margin-right: 292px; }

.arriv_price {
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f; }

.big_horiz_slash {
  border: 1px solid #eaeaea;
  margin: 65px;
  margin-left: 250px;
  margin-right: 250px;
  width: auto; }

.arriv_choose {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.li_choose_style {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e; }

.arrow_down {
  border: solid #6f6e6e;
  border-width: 2.3px 0 0 2.3px;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  list-style: none; }

.arrow_down:hover {
  border: solid #f16d7f;
  border-width: 2.3px 0 0 2.3px; }

.add2_txt2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-left: 11px; }

.add2 {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid #f16d7f;
  pointer-events: auto; }

.add_box2 {
  display: flex;
  text-decoration: none;
  margin-top: 48px;
  justify-content: center;
  width: 100%; }

.add2:hover .add2_txt2 {
  color: #e1e1e1; }

.add2:hover .visible_all_card {
  visibility: hidden; }

.add2:hover {
  background-color: #f16d7f;
  background-image: url(../imgs/rect.svg);
  background-repeat: no-repeat;
  background-position: 8px 50%; }

.filter_flex {
  display: flex; }

.filter_txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
  position: relative; }

.catalog_choose {
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.catalog_flex {
  display: flex;
  flex-direction: row;
  align-items: center; }

.filter_flex:hover .filter_txt {
  color: #f16d7f; }

.filter_flex:hover .filter_logo {
  height: 10px;
  width: 10px;
  margin-top: 3.5px;
  background-image: url("../imgs/VectorPink.svg");
  background-size: 15px 10px; }

.filter_logo {
  height: 10px;
  width: 10px;
  margin-top: 3.5px;
  background-image: url("../imgs/VectorCatFilter.svg"); }

.h3_filter {
  margin-bottom: 36px; }

.a_category {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-left: 11px; }

.h3_filter:first-child {
  margin-top: 21px; }

.filter_pos {
  position: relative; }

.filter_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.filter_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-bottom: 11px;
  margin-left: 34px; }

.h3_filter:hover {
  display: block; }

.filter_link:last-of-type {
  margin-bottom: 32px; }

.filter_link:hover {
  color: #f16d7f; }

.filter_moving {
  width: 360px;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #f16d7f;
  z-index: 2;
  box-shadow: 5px 5px 80px #6f6e6e; }

.vertical {
  width: 3px;
  height: 35px;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  margin-left: 17px; }

.flex_vertical {
  display: flex;
  flex-direction: row;
  align-items: center; }

.arrow_left_nav {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(135deg); }

.arrow_right_nav {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-45deg); }

.arrow_flex {
  display: flex;
  justify-content: center;
  margin-top: 60px; }

/*# sourceMappingURL=Style.css.map */
